<h2>Welcome Sonali !</h2>

<mat-card class="card">
  <div class="container" fxLayout fxLayoutAlign="center start">
    <div>
      <div fxLayout="row">
        <div fxLayout="column">
          <mat-icon class="icon-display" mat-icon-type="font"
            >note_add</mat-icon
          >
        </div>
        <div fxLayout="column" style="margin-left: 30px">
          <a> New Scan</a>
        </div>
      </div>
      <div fxLayout="row" style="margin-top: 30px">
        <div fxLayout="column">
          <mat-icon class="icon-display" mat-icon-type="font">list</mat-icon>
        </div>
        <div fxLayout="column" style="margin-left: 30px">
          <a> Recent Scans</a>
        </div>
      </div>
      <div fxLayout="row" style="margin-top: 30px">
        <div fxLayout="column">
          <mat-icon class="icon-display" mat-icon-type="font">compare</mat-icon>
        </div>
        <div fxLayout="column" style="margin-left: 30px">
          <a> Compare files</a>
        </div>
      </div>
    </div>
  </div>
</mat-card>

<!-- <h2>Welcome test !</h2>

<div
  class="container text"
  fxLayout
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="33.3%">
    <mat-card style="height: 100%">
      <mat-icon mat-icon-type="font">note_add</mat-icon>
      <a> New Scan</a>
    </mat-card>
  </div>
  <div class="item item-2" fxFlex="33.3%">Item 2</div>
  <div class="item item-3" fxFlex>Item 3</div>
</div> -->
